*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

html{
    font-size: 20px;
}

body{
    background-image: url("./assets/Background.png");
    background-size: 1960px;
    background-repeat: no-repeat;
    background-position: -920px -250px;
}

.container, .actor-main{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
}

.title{
    display: block;
    
}

.title-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.text-container{
    padding-top: 40px;
}

.text-container p{
    color: white;
    margin-bottom: 20px;
}

.span-orange{
    font-size: 22px;
    color: #FF6427;
}

.money{
    margin-top: -18px;
    margin-bottom: -2px !important; 
    font-size: 36px;
}

.actor-container{
    margin: 0 auto;
    width: 90%;
    height: 30%;
    display: flex;
    margin-top: 20px;
}

.actor-img{
    width:100%;
}

.actor-panel{
    margin-top: 20px;
}

.actor-container span{
    font-size: 20px;
    color: #FF6427;
}

.actor-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actor-text-container a{
    color: white;
    font-size: 24px;
}

.actor-div{
    min-width: 80px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

#florence{
    position: relative;
    top: -48px;
    left: -10px;
    width: 150px;
}

#cillian{
    position: relative;
    left: -5px;
    width: 120px;
}

.more-info{
    margin-top: 30px;
    width: 80%;
    height: 80px;
}

.more-info button{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .5);
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid black;
    border-radius: 13px;
    color: #FF6427;
    font-size: 32px;
    padding: 0 2px;
}

.more-info button:hover{
    background:rgba(0, 0, 0, .75);
}

.actor-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}